html, body{
    background-image: url("assets/bg-1.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}
.transbox {
    background-image: url("assets/bg-1.jpg");
    background-repeat: repeat-y;

}

